 
  
  .contenedorTitulosPrincipales h4 {
    font-size: $fuente-normal;
    font-weight: 200; /*fuente regular*/
    font-family: $tipografia-general;
    color:$color-primario;
    margin-top: 20px;
  }
  
  .tituloPrincipal {
    font-size: 2rem;
    font-weight: 700; /*fuente negrita*/
    font-family: $tipografia-general;
    margin-top: 40px;
    color: rgb(90, 90, 90);
  }
  
  .texto120 {
    font-size: $fuente-normal;
    font-weight: 200; /*fuente regular*/
    font-family: $tipografia-general;
    color: rgb(175, 175, 175);
    margin-top: 2rem;
  }
  
  .galeria {
    width: 50%;
    margin: 0 auto;
    display: $contenedor-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5rem;
    margin-bottom: 50px;
  }
  
  .hijoGaleria h3 {
    font-size: $fuente-normal;
    font-weight: 200; /*fuente regular*/
    font-family: $tipografia-general;
    color: $color-primario;
    display: block;
    margin-top: 20px;
  }
  
  .hijoGaleria p {
    font-size: 1rem;
    font-weight: 400; /*fuente regular*/
    font-family: $tipografia-general;
    color: $color-grisoscuro;
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  
  .galeria .hijoGaleria {
    width: 300px;
    height: 200px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .imagenTexto {
    background: url(../assets/img/Cede\ Centro-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    gap: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .imagenTexto h4 {
    font-size: 1rem;
    font-weight: 200; /*fuente regular*/
    font-family: "Poppins", sans-serif;
    color: green;
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;
  }
  
  .imagenTexto h3 {
    font-size: 2rem;
    font-weight: 700; /*fuente negrita*/
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
    color: rgb(137, 137, 137);
    text-align: left;
    width: 70vh;
    margin-left: 20px;
  }
  
  .imagenTexto p {
    font-size: 1rem;
    font-weight: 100; /*fuente negrita*/
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
    color: rgb(184, 184, 184);
    text-align: left;
    width: 70vh;
    margin-left: 20px;
  }
  
  .actualidades{
    h2 {
      font-size: 1rem;
      font-weight: 200;
      font-family: "Poppins", sans-serif;
      color: rgb(81, 81, 81);
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-align: center;
    }
  
    .galeriaActualidades {
      display: flex;
      justify-content: center;
      gap: 3rem;
  
      }
    .hijoGaleriaActualidades {
    width: 50vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    img {
      width: 600px;
      height: 550px;
      -o-object-fit: cover;
      object-fit: cover;
    }
    h3 {
      font-size: 1rem;
      font-weight: 200;
      font-family: "Poppins", sans-serif;
      color: green;
      margin-top: 20px;
      text-align: center;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      color: rgb(198, 198, 198);
      margin-top: 30px;
      text-align: center;
    }
  }
  .tamanioFuente {
    font-size: 1rem;
    font-weight: 500; /*fuente regular*/
    font-family: "Poppins", sans-serif;
    margin-left: 50vh;
  }
  
  .tituloAyudaEco {
    font-size: 1rem;
    font-weight: 200; /*fuente regular*/
    font-family: "Poppins", sans-serif;
    color: green;
    display: block;
    margin-top: 20px;
  }
  
  .h4AyudaEco {
    font-size: 1.5rem;
    font-weight: 400; /*fuente regular*/
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 5px;
  }
  
  .parrafoAyudaEco {
    font-size: 1rem;
    font-weight: 200; /*fuente regular*/
    font-family: "Poppins", sans-serif;
    color: rgb(78, 78, 78);
    margin-top: 15px;
  }
  
  ul li {
    list-style: none; /*saca la decoracion de las listas*/
    display: inline-block; /*hace que los items esten uno al lado del otro*/
    margin-top: 30px;
    /*margin-left: 10%;*/
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
  }
  
  .div50 {
    display: inline-block;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
    text-align: left;
  }
  
  .añosimagen {
    width: 650px;
    height: 650px;
    display: inline-block;
  }
  
  .obraimagen {
    width: 650px;
    height: 650px;
    display: inline-block;
  }
  
  .h3novedades {
    display: block;
    font-size: 1.5rem;
    font-weight: 400; /*fuente regular*/
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .tituloactualidad {
    font-size: 1rem;
    font-weight: 200; /*fuente regular*/
    font-family: "Poppins", sans-serif;
    color: green;
    text-align: center;
    margin-top: 40px;
  }
  
  .imagenesServicios {
    display: inline-block;
    width: 25%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 15%;
  }
  
  .imagenesServicios {
    display: inline-block;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
  }
  
  .imagenServicio {
    display: inline;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
  }
  
  .boxAyuda {
    display: inline-block;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.345);
    width: 100%;
  }
  
  .boxAyuda2 {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 65%;
    text-align: center;
    margin-top: 10px;
  }
  
  .h1depaginas {
    font-size: 2rem;
    text-align: center;
    color: rgb(6, 77, 10);
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
  }
  
  .imagenchancho {
    width: 400px;
    height: 500px;
  }
  
  .parrafoCuentaAhorro {
    font-size: 1rem;
    font-weight: 200; /*fuente regular*/
    font-family: "Poppins", sans-serif;
    color: rgb(78, 78, 78);
    margin-top: 15px;
  }
  
  .textcultura {
    font-size: 1.5rem;
    font-weight: 200; /*fuente regular*/
    font-family: "Poppins", sans-serif;
    color: rgb(78, 78, 78);
    margin-top: 15px;
  }
  
  .tituloPlanes {
    font-size: 1rem;
    font-weight: 200; /*fuente regular*/
    font-family: "Poppins", sans-serif;
    color: green;
    text-align: center;
    margin-top: 40px;
  }
  
  .liPlanes {
    font-size: 1rem;
    font-weight: 200; /*fuente regular*/
    font-family: "Poppins", sans-serif;
    color: rgb(138, 138, 138);
  }
  
  .parrafoPlanes {
    font-size: 1rem;
    font-weight: 200; /*fuente regular*/
    font-family: "Poppins", sans-serif;
    color: rgb(57, 57, 57);
    text-align: center;
  }
  
  .boxPlanes {
    display: inline-block;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.251);
    width: 100%;
  }
  
  .boxPlanes2 {
    display: inline-block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.251);
    width: 100%;
  }
  
  a:hover {
    font-weight: bold;
    color: rgb(7, 0, 224);
  }
  
}
    

/*todos los celulares y algunas tablets*/
@media screen and (min-width: 0px) and (max-width: 768px) {
  .actualidades{
    .galeriaActualidades {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .hijoGaleriaActualidades {
      width: 80%;
      height: initial;
      img {
        width: 200px;
        height: 200px;
        -o-object-fit: cover;
        object-fit: cover;
        margin-top: 20px;
       }
    }
  }
  .galeria img {
    width: 90px;
    height: 90px;
  }
  .imagenTexto {
    background-image: none;
  }
  .imagenTexto h4 {
    margin-left: 30px;
    width: 100%;
  }
  .imagenTexto h3 {
    text-align: center;
    margin-left: 0px;
    width: 100%;
  }
  .imagenTexto h4 {
    text-align: center;
    margin-left: 0px;
    width: 100%;
  }
  .imagenTexto p {
    text-align: center;
    margin-left: 0px;
    width: 100%;
  }
  .navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .anclas {
    width: 100%;
    font-size: 1.25rem;
    /*display: block;*/
  }
  ul li {
    margin-top: 1rem;
  }

  .padrePlan {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .padrePlan img {
    width: 300px;
    height: 300px;
  }
  .main iframe {
    width: 100vh;
  }
  .boxAyuda2 {
    width: 100%;
  }
  .boxAyuda2 img {
    margin-left: 10%;
  }
} /*# sourceMappingURL=estilos.css.map */