
$color-primario: green;
$color-gris: rgb(124, 124, 124);
$color-blanco: rgb(255, 255, 255);
$color-grisoscuro:rgb(28, 28, 28); 

$color-fondeverde:rgba(0, 111, 0, 0.566);
$color-fondegris:rgb(203, 203, 203);

$fuente-normal: 1rem;
$fuente-pequeña:0.80rem;
$fuente-grande: 1.4rem;
$fuente-maxima: 3rem;

$tipografia-general:  "Poppins", sans-serif;

$contenedor-flex: flex;

